<div data-role="fieldcontain">
	<label for="name">Name</label><br/>
	<input type="text" name="name" id="name" value="" /><br/>
  <label for="name">Email</label><br/>
	<input type="text" name="name" id="name" value="" /><br/>
  <label for="name">Message</label><br/>
	<textarea cols="4" rows="4" name="textarea" id="textarea"></textarea>
  <input type="submit" data-theme="e" value="Submit" class="ui-btn-hidden" aria-disabled="false">
</div>