<div data-role="fieldcontain">
	<label for="name">Name</label>
	<input type="text" name="name" id="name" value="" /><br/>
  <label for="name">Email</label>
	<input type="text" name="name" id="name" value="" /><br/>
  <label for="name">Text Input:</label>
	<input type="text" name="name" id="name" value="" />
</div>