<div data-role="fieldcontain">
	<label for="name">Name</label>
	<input type="text" name="name" id="name" value="" /><br/>
  <label for="name">Email</label>
	<input type="text" name="name" id="name" value="" /><br/>
  <label for="name">Message</label>
	<textarea cols="40" rows="8" name="textarea" id="textarea"></textarea>
  <input type="submit" data-theme="e" value="Submit" class="ui-btn-hidden" aria-disabled="false">
</div>