<div data-role="content">
  <ul data-role="listview" data-inset="true">
    <li><a href="/mobile/products">Menu</a></li>
    <li><a href="#search">Search</a></li>
    <li><a href="#blog">Blog</a></li>
    <li><a href="#direction">Direction</a></li>
    <li><a href="#help">Help</a></li>
    <li><a href="#about">About Us</a></li>
    <li><a href="/mobile/contact-us">Contact Us</a></li>
  </ul>
</div>



