<div data-role="content" style="padding: 15px">
  <form action="/mobile/sessions" method="POST">
    <div data-role="fieldcontain">
      <fieldset data-role="controlgroup">
        <label for="textinput1">
          Email
        </label>
        <input name="session[email]" id="textinput1" placeholder="Email Address" value="kushal@kushal.com" type="text" />
      </fieldset>
    </div>
    <div data-role="fieldcontain">
      <fieldset data-role="controlgroup">
        <label for="textinput2">
          Password
        </label>
        <input name="session[password]" id="textinput2" placeholder="Password" value="123456" type="password" />
      </fieldset>
    </div>
    <input type="submit" data-theme="b" value="Submit" />
  </form>
</div>
