<div id="thank">
  <h1 style="margin-left: 40px;"> Thank You for Your Order.</h1>
  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
in voluptate velit esse cillum dolore eu fugiat nulla.</p>
</div>