
<%

content = Cart.item_details(:cart_id => session[:cart])
%>
<div id="cart-circle">
    <div class="cart-link">
      <a href="/cart" class="num-items-in-cart">cart
        <span class="icon"><i class="icon-shopping-cart icon-white"></i> <%=  content[:cart_items].count rescue 0 %> item</span>
      </a>             
    </div>
</div>

<script>
  $().ready(function() {
  var $scrollingDiv = $("#cart-circle");

  $(window).scroll(function(){      
  $scrollingDiv
  .stop()
  .animate({"marginTop": ($(window).scrollTop() + 43) + "px"}, "slow" );      
  });
  });
</script>