
<%

content = Cart.item_details(:cart_id => session[:cart])
%>
<div id="umbrella">
  <ul class="clearfix">


    <li class="customer-account-links">

      <p><a href="/account/login" id="customer_login_link">Login</a></p>

    </li>




    <li class="cart-link">
      <a href="/cart" class="num-items-in-cart">
        <span class="icon">
          <%=  content[:cart_items].count rescue 0 %> item
        </span>
      </a>             
    </li>

    <li class="checkout-link">
      <a href="/checkout" class="btn btn-danger">Checkout</a>              
    </li>

  </ul>
</div>

<script>
  $().ready(function() {
  var $scrollingDiv = $("#umbrella");

  $(window).scroll(function(){      
  $scrollingDiv
  .stop()
  .animate({"marginTop": ($(window).scrollTop() + 50) + "px"}, "slow" );      
  });
  });
</script>