


<div id="content" class="span11">
  <div>
    <div class="hero-unit" style="height:260px;">
    <img src="http://www.onealdesign.com/images/restaurant-logo-design-sample-1.jpg" alt="" width="300" height="200" style="float:left">

<p style="padding-top:50px;padding-left:340px;">Want to enjoy our special delights ?
        <br><br> <a class="btn btn-primary btn-large" href="#">Sign up »</a>
    </p>

</div>
</div></div>





            <div class="row ">
              <div class="span4">
              
                 <img src="http://www.gallyapp.com/tf_themes/aroi_wp/wp-content/themes/Aroi/timthumb.php?src=wp-content/themes/Aroi/example/food3.jpg&h=169&w=240&zc=1" alt=""/>

                                  
              </div>
              
            
            
                        
            
              <div class="span4">
              
                 <img src="http://www.gallyapp.com/tf_themes/aroi_wp/wp-content/themes/Aroi/timthumb.php?src=wp-content/themes/Aroi/example/food2.jpg&h=169&w=240&zc=1" alt=""/>

                                  
              </div>
             
            
                        
            
              <div class="span4">
              
                 <img src="http://www.gallyapp.com/tf_themes/aroi_wp/wp-content/themes/Aroi/timthumb.php?src=wp-content/themes/Aroi/example/food1.jpg&h=169&w=240&zc=1" alt=""/>

                                  
              </div>
              
            </div>
            
                        <br class="clear"/>

      <div class="row ">

        <div class="span4">
                <h3>Best Services</h3>
                <p><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Ut t esse cillum dolore eu fugiat nulla pariatur.</p></p>
              </div>



               <div class="span4">
                <h3>Variety of food</h3>
                <p><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute ird minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipt nulla pariatur.</p></p>
              </div>


            <div class="span4">
                <h3>Awesome taste</h3>
                <p><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.U cillum dolore eu fugiat nulla pariatur.</p></p>
              </div>
            </div>
            </div>