<div class="container">
<div class="newsflash">
  <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
         <div class="item active"><img src="images/image3.jpg" border="0" alt="alt text here 3">
            <div class="carousel-caption">
                    <h4>Demo Slideshow 3</h4>
                    <p>
                      caption here 3                    </p>
                </div>
          </div>
                                <div class="item"><img src="images/image2.jpg" border="0" alt="alt text here 2">  
                  <div class="carousel-caption">
                      <h4>Demo Slideshow 2</h4>
                      <p>caption here 2</p>
                  </div>
              </div>
                                              <div class="item"><img src="images/image1.jpg" border="0" alt="alt text here">  
                  <div class="carousel-caption">
                      <h4>Demo Slideshow 1</h4>
                      <p>caption here...</p>
                  </div>
              </div>
                            </div>
              <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a> <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
          </div>
</div>
</div>















<div id="content" class="span11">
  <div>
    <div class="hero-unit" style="height:260px;">
    <img src="http://www.onealdesign.com/images/restaurant-logo-design-sample-1.jpg" alt="" width="300" height="200" style="float:left">

<p style="padding-top:50px;padding-left:340px;">Want to enjoy our special delights ?
        <br><br> <a class="btn btn-primary btn-large" href="#">Sign up »</a>
    </p>

</div>
</div></div>





            <div class="row ">
              <div class="span4">
              
                 <img src="http://www.gallyapp.com/tf_themes/aroi_wp/wp-content/themes/Aroi/timthumb.php?src=wp-content/themes/Aroi/example/food3.jpg&h=169&w=240&zc=1" alt=""/>

                                  
              </div>
              
            
            
                        
            
              <div class="span4">
              
                 <img src="http://www.gallyapp.com/tf_themes/aroi_wp/wp-content/themes/Aroi/timthumb.php?src=wp-content/themes/Aroi/example/food2.jpg&h=169&w=240&zc=1" alt=""/>

                                  
              </div>
             
            
                        
            
              <div class="span4">
              
                 <img src="http://www.gallyapp.com/tf_themes/aroi_wp/wp-content/themes/Aroi/timthumb.php?src=wp-content/themes/Aroi/example/food1.jpg&h=169&w=240&zc=1" alt=""/>

                                  
              </div>
              
            </div>
            
                        <br class="clear"/>

      <div class="row ">

        <div class="span4">
                <h3>Best Services</h3>
                <p><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Ut t esse cillum dolore eu fugiat nulla pariatur.</p></p>
              </div>



               <div class="span4">
                <h3>Variety of food</h3>
                <p><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute ird minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipt nulla pariatur.</p></p>
              </div>


            <div class="span4">
                <h3>Awesome taste</h3>
                <p><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.U cillum dolore eu fugiat nulla pariatur.</p></p>
              </div>
            </div>
            </div>