
<div class="infocontent">
  <div id="about-img">
    <h1>
      Yummy all the way!!!!!
    </h1>
    <div class="about-img-text">
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Ut t esse cillum dolore eu fugiat nulla pariatur.
    </div>
  </div>
</div>

<div class="row " style="margin-left:130px;">
  <div class="span4">
    <img src="http://www.gallyapp.com/tf_themes/aroi_wp/wp-content/themes/Aroi/timthumb.php?src=wp-content/themes/Aroi/example/food3.jpg&h=169&w=240&zc=1" alt="" id="border-img" />
  </div>
  <div class="span4">
    <img src="http://www.gallyapp.com/tf_themes/aroi_wp/wp-content/themes/Aroi/timthumb.php?src=wp-content/themes/Aroi/example/food2.jpg&h=169&w=240&zc=1" alt="" id="border-img"/>
  </div>
</div>
<br class="clear"/>
<div class="row" style="margin-left:130px;">
  <div class="span4">
    <h3>Best Services</h3>
    <p><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Ut t esse cillum dolore eu fugiat nulla pariatur.</p></p>
  </div>
  <div class="span4">
    <h3>Variety of food</h3>
    <p><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute ird minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipt nulla pariatur.</p></p>
  </div>
</div>