<div>
<%= image_tag "las-vegas-buffets.jpg" %>
<p>Trio's Restaurant is family owned and operated by Vito and Janet Verni and their family. The Sciarrino's and the Sinclair family. The name Trio's truly describes three families bringing all their talents together to make this restaurant outstanding.</p>
<p>Trio's Restaurant was established was May - 2002, and is located on Rt. 590 between Hamlin and Hawley adjacent to the Hideout.
The restaurant has warm casual atmosphere, and can be just perfect for that special occasion, intimate dining for two, or for a family dinner.</p>
<p>Menu selections are abundant, and can satisfy the most discriminating taste. The menu ranges from delicious pizza to pasta of all types, great steaks, "best veal in town". Sumptuous crab cakes and seafood. The prices are extremely affordable. You can eat in or take advantage of our take out facility.
There is a beautiful bar and lounge area, and entertainment is featured weekly.
Trio's is open 7 days a week for lunch and dinner. Catering is available. The restaurant can host Business Meetings, Baby Showers, Birthday or Holiday Parties, and Weddings.
Reservations suggested, do call for further information and we will be glad to assist.</p>
</div>


