<div>
  <div class="row">
    <div class="span9">
      <p>
        If you would like to contact us, The Collectors Choice Restaurant, please do so by using the form below and clicking on the contact button. Every effort will be made to respond as soon as possible.

        Since we are a very busy restaurant, should we not respond within 48 hours, or should you require a faster response, please call 360-568-1277.

        All required information (asterisk) on this form must be filled in to communicate with us.

        This website is all about The Collector's Choice Restaurant in Snohomish, Washington. It has information about the restaurant including menus and services within the restaurant and outside of the facility.

        Yes, the Collectors Choice Restaurant has a banquet room for private parties and will consider catering elsewhere. Please inquire.

        This site also has links to food articles and real restaurant recipes, as well as community resources in and around the city of Snohomish.

        If you have questions or suggestions or requests, please email using this form.

        Before you e-mail, you may want to read the company policies by clicking here. If you have questions, they may be found on that page.
      </p>
    </div>
  </div>
</div>