<form class="form-horizontal">
<fieldset>

<legend>Contact us</legend>

<div class="control-group">
<label class="control-label">Name</label>
<div class="controls">
<input type="text" class="input-xlarge" id="user_name" name="user_name" rel="popover" data-content="Enter your first and last name." data-original-title="Full Name">
</div>
</div>


<div class="control-group">
<label class="control-label">Email</label>
<div class="controls">
<input type="text" class="input-xlarge" id="user_email" name="user_email" rel="popover" data-content="What’s your email address?" data-original-title="Email">
</div>
</div>

<div class="control-group">
<label class="control-label">Message</label>
<div class="controls">
<textarea class="field span3" id="textarea" rows="6" style="margin: 0px; width: 271px; height: 108px; placeholder="Enter Message"></textarea>
</div>
</div>

<div class="control-group">
<label class="control-label"></label>
<div class="controls">
<button type="submit" class="btn btn-success" >Send</button>
</div>
</div>

</fieldset>
</form>