<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>
  </title>
  <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
  <style>
    /* App custom styles */
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
  </script>
  <script src="https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.1.0/jquery.mobile-1.1.0.min.js">
  </script>
</head>
<body>
  <!-- Home -->
  <div data-role="page" id="page1">
    <div data-theme="a" data-role="header">
      <h3>
        Yummy Stop
      </h3>
      <div data-role="tabbar" data-iconpos="top" data-theme="a">
        <ul>
          <li>
            <a href="#page1" data-theme="" data-icon="home">
              Home
            </a>
          </li>
          <li>
            <a href="#" data-theme="" data-icon="star">
              Menu
            </a>
          </li>
          <li>
            <a href="#" data-theme="" data-icon="info">
              Cart
            </a>
          </li>
          <li>
            <a href="#page1" data-theme="" data-icon="arrow-u">
              About
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div data-role="content" style="padding: 15px">
      <h2>
        Today's Special
      </h2>
      <h2>
        Today's Discount offer
      </h2>
    </div>
  </div>
  <script>
    //App custom javascript
  </script>
</body>