
<div data-role="content">
  <ul data-role="listview" data-inset="true" data-divider-theme="b">
    <li data-role="list-divider">Menu</li>
    <% @products.each do |p| %>
      <li><a href="#"><%= p.name %></a></li>
    <% end %>
  </ul>
</div>