<div data-role="content" style="padding: 15px">
  <ul data-role="listview" data-inset="true" data-theme="a">
    <% @products.each do |p| %>
      <li data-icon="arrow-r"><a href="#"><%= p.name %></a></li>
    <% end %>
  </ul>
</div>