<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>
  </title>
  <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
  <style>
    /* App custom styles */
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
  </script>
  <script src="https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.1.0/jquery.mobile-1.1.0.min.js">
  </script>
  <%= stylesheet_link_tag    "my" , :media => "all" %>
  <%= javascript_include_tag "my" %>
</head>
<body>
  <!-- Home -->
  <div data-role="page" id="page1">
    <div data-theme="a" data-role="header">
      <h3>
        Yummy Stop
      </h3>
    </div>
    <%= yield %>
  </div>
  <script>
    //App custom javascript
  </script>
</body>